<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>save_data.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>791C48741E2CD226008B0C2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>791C48881E2CD227008B0C2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>791C48931E2CD227008B0C2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
